html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

#contents {
  width: 500px;
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}

h1 {
  margin: 0;
  background-color: pink;
  font-size: 18px;
}

h2 {
  margin: 0;
  background-color: skyblue;
  font-size: 18px;
}

div.inner {
  margin: 5px;
}

div.pink {
  margin-bottom: 5px;
  border: solid 3px pink;
}

div.skyblue {
  margin-bottom: 5px;
  border: solid 3px skyblue;
}

button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  color: green;
  border-radius: 15px;
  background-color: lightgreen;
  border: solid 3px green;
  cursor: pointer;
}

button:hover {
  background-color: palegreen;
}

#input-text {
  width: 350px;
  margin: 5px;
  font-size: 16px;
}
